* {
  margin: 0;
  padding: 0;
}

.wrap {
  text-align: center;
}

.wrap .wrap-center {
  width: 1280px;
  background-color: yellow;
}

.wrap .wrap-center .header .header-hamburger {
  margin-top: 18px;
  display: inline-block;
  padding: 10px;
  background: none;
  border: none;
}

.wrap .wrap-center .header .header-hamburger > div {
  background-image: url('./sp_main.png');
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: 422px 405px;
  background-position: -335px -284px;
}

.wrap .wrap-center .main {
  height: 2000px;
}
