* {
  margin: 0;
  padding: 0;
}

#wrap {
  text-align: center;
}

#wrap-center {
  width: 1280px;
  background-color: yellow;
}

#header-hamburger {
  margin-top: 18px;
}

#header-hamburger > div {
  width: 46px;
  height: 46px;
  background-image: url('./sp_main.png');
  background-repeat: no-repeat;
  background-size: 422px 405px;
  background-position: -335px -284px;
}

#main {
  height: 2000px;
}
